@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Funnel+Display:wght@300..800&family=Geist+Mono:wght@100..900&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Oswald:wght@200..700&family=Outfit:wght@600&family=Parkinsans:wght@300..800&display=swap');


.logo {
    max-width: 12rem;
}

.carousel{
    background-color: black;
}

.carouselimg{
    max-width: 80%;
    max-height: 40rem;
    margin: 2rem auto;
    border-radius: 5rem;
}

.intro {
    font-family: "Inter", serif;
    margin: 2rem 0;
}

.buttoncard>a {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    background-color: #000;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.5rem 0 0;
    padding: 1rem 2rem;
    text-align: center;
}

.buttoncard>a:hover {
    transition: ease-in-out 0.2s;
    color: black;
    background-color: white;
    box-shadow: inset 0 0 0 0.1rem black;
    font-weight: 600;
}

.bigtitle {
    font-family: "Funnel Display", serif;
    margin: 2rem auto;
    text-decoration: underline;
    font-size: 2.5rem;
}

.customcard {
    border: #000 0.2rem solid;
    padding: 0.5rem;
}

.imgcard {
    max-width: 100%;
}

.titlecard {
    align-self: center;
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.desccard {
    line-height: 0;
    font-family: "Inter", serif;
    font-size: 0.9rem;
}

.fork {
    border: none;
    width: 3rem;
    height: 3rem;
    text-align: center;
    color: white;
    background-color: black;
    margin: 0.5rem;
    margin-right: 1rem;
    padding: 0.7rem;
    border-radius: 0.6rem;
}

.ctamodal {
    margin: 0.5rem;
    width: max-content;
    padding: 0.7rem 0.9rem;
    border-radius: 0.6rem;
    text-decoration: none;
    background-color: #000;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    text-align: center;
}


.ctamodal:hover {
    transition: ease-in-out 0.2s;
    color: black;
    background-color: white;
    box-shadow: inset 0 0 0 0.1rem black;
    font-weight: 600;
}


footer{
margin-top: 3rem;
padding-bottom: 3rem;
background-color: #000;
}

.contactus{
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    background-color: #fff;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: 2rem 0;
    padding: 1rem 2rem;
}

.contactus:hover {
    transition: ease-in-out 0.2s;
    color: white;
    background-color: black;
    box-shadow: inset 0 0 0 0.1rem white;
    font-weight: 600;
}

.linkfooter{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: gray;
}


.linkfooter:hover{
    text-decoration: underline;

}